.section {
    display: flex;
    min-height: 40vh;
    background: #212121af;
    color: white;
    align-items: center;
    justify-content: center;
}

.Limiter {
    width: 100%;
    max-width: 90.9%;
    padding: 24px 5px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.ContactTitle {
    color: var(--color-primary-light);
    font-weight: bold;
    font-size: 1.7rem;
    padding-bottom: 25px;
}

.ContactList {
    display: flex;
    flex-direction: column;
    gap: 18px;
    font-size: 1rem;
}

.ContactItem {
    display: flex;
    align-items: center;
    gap: 12px;
}


.ContactLinkdin {
    color: #1976d2;
    display: flex;
    align-items: center;
    gap: 6px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.15rem;
    width: fit-content;
    background: #fff;
    border-radius: 8px;
    padding: 8px 18px;
        border: 2px solid #606060;

    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.453);
    transition: background 0.2s, color 0.2s, box-shadow 0.2s, transform 0.2s;
}

.ContactLinkdin:hover {
    background: #fff;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.18);
    transform: translateY(-2px) scale(1.04);
        border: 2px solid #606060;

    color: #1976d2;
}

.ContactLinkGithub {
    color: #222;
    display: flex;
    align-items: center;
    gap: 6px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.15rem;
    width: fit-content;
    background: #fff;
    border-radius: 8px;
    padding: 8px 18px;
    border: 2px solid #606060;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.453);
    transition: background 0.2s, color 0.2s, box-shadow 0.2s, transform 0.2s;
}

.ContactLinkGithub:hover {
    background: #fff;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.18);
    transform: translateY(-2px) scale(1.04);
    color: #222;
}



.ContactDivider {
    width: 250px;
    height: 2px;
    background: linear-gradient(to right, #fff 0%, transparent 100%);
    margin: 12px 0;
}

.LinhaCentralizada {
    width: 180px;
    height: 1px;
    background: white;
    border-radius: 2px;
    border: none;
    display: block;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}