
/* Responsive adjustments for different screen sizes */

@media (max-width: 1200px) {
  .ProjectsGrid {
    justify-content: center; 
  }
  .ProjectCard {
    flex-basis: calc(50% - 32px);
    max-width: calc(50% - 32px);
  }
}

@media (max-width: 768px) {
  .ProjectCard {
    flex-basis: 100%;
    max-width: 100%;
  }
}

/* Estilos da Works */

.section {
    display: flex;
    min-height: 95vh;
    background: #212121af;
    color: white;
    scroll-margin-top: -20px; 
    padding-top: 20px;
      scroll-margin-top: -68px;
        border-left: 1px solid rgb(148, 148, 148);
  border-right: 1px solid rgb(148, 148, 148);

}

.Limiter {
    width: 100%;
    max-width: 94%;
    margin-left: auto;
    margin-right: auto;
    padding: 24px 32px;
    display: flex;
    flex-direction: column;
}

.ProjectsGrid {
    display: flex;
    flex-wrap: wrap; 
    gap: 32px; 
    width: 100%;
    margin-top: 24px;
    justify-content: space-between; 
}

.ProjectCard {
    flex: 1 1 calc(33.33% - 32px); 
    max-width: calc(33.33% - 32px);
    background: #181818;
    border-radius: 14px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.18);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border: 1px solid #333;
}

.WorksTitle {
    color: var(--color-primary-light);
    font-weight: bold;
    font-size: 1.8rem;
}