.section {
  display: flex;
  min-height: 45vh;
  background: var(--color-primary);
  color: #fff;
  align-items: center;
  justify-content: center;
  position: relative;
}

.section::before {
  content: "";
  position: absolute;
  top: 0; left: 0; width: 100%; height: 100%;
  pointer-events: none;
  z-index: 0;
  border-top: 3px solid rgba(69, 69, 69, 0.25);
  box-shadow: 0 -8px 32px 0 rgba(0, 0, 0, 0.444);
}

.section > * {
  position: relative;
  z-index: 1;
}

.limiter {
  width: 100%;
  max-width: 700px;
  margin: auto;
  padding: 24px 32px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: center;
  background: transparent;
  border-radius: 18px;
  box-shadow: 15px 15px 24px rgba(0,0,0,0.08);
}

.text {
  line-height: 1.6;
  margin-bottom: 8px;
}

.LinhaCentralizada {
  width: 320px;
  height: 1px;
  background: #fff;
  margin: 18px auto;
  border-radius: 2px;
  border: none;
  display: block;
  text-align: center;
}

.bold {
  font-weight: bold;
}

