@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Animação sutil de deslize e fade-in para a imagem */
@keyframes subtleSlideIn {
  from {
    transform: translateX(80px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-primary: #D14D52;
  --color-primary-light: #fd666b;
  --color-secondary: #6c757d;
  --color-background: white;
  --color-background-dark: #4b4c4e;
  --color-text-dark: #4b4c4e;
  --color-text-light: #ffffff;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}

body {
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
  line-height: 0.8;
  position: relative;
  background-color: #fff;
  margin: 0; /* Correção do espaço no footer */
}

/* Imagem de fundo principal */
body::before {
  content: '';
  position: fixed;
  inset: 0;
  z-index: -2;

  /* Caminho corrigido para dev local */
  background-image: url('/images/JapaneseGeometricDesign/Abstract-Image.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  animation: subtleSlideIn 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}

/* Degradê branco da esquerda */
body::after {
  content: '';
  position: fixed;
  inset: 0;
  z-index: -1; /* Camada do meio */

  /* Degradê padrão para desktop */
  background: linear-gradient(to right, #fff 0%, #fff 45%, transparent 70%);
}


.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

p {
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: var(--color-primary);
}

@media (max-width: 768px) {
  body::after {
    background: linear-gradient(to right, #fff 0%, #fff 80%, transparent 100%);
  }
}